[user]
	name = Sam Soffes
	email = sam@samsoff.es
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore
[apply]
	whitespace = nowarn
[difftool]
	prompt = false
