[user]
	name = Sam Soffes
	email = sam@soff.es
	signingkey = F13BD92D5DE334DF9A81FAEE92F9B5EF8F60329C
[github]
	user = soffes
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	up = pull --rebase
	punch = blame
	pish = push
	tpush = push
	br = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow bold)%(refname:short)%(color:reset) - %(contents:subject) - %(authorname) %(color:green)(%(committerdate:relative))%(color:reset)'
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore
[apply]
	whitespace = nowarn
[merge]
	tool = kdiff3
[difftool]
	prompt = false
[push]
	default = current
	autoSetupRemote = true
[credential]
	helper = cache
[ghi]
	token = !security find-internet-password -a `git config github.user` -s github.com -l 'ghi token' -w
[gpg]
	program = gpg
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[mergetool]
	keepBackup = false
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
