[user]
  name = Sam Soffes
  email = sam@soff.es
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  up = pull --rebase
  punch = blame
  pish = push
[color]
  diff = auto
  status = auto
  branch = auto
[core]
  excludesfile = ~/.gitignore
[apply]
  whitespace = nowarn
[merge]
  tool = kdiff3
[difftool]
  prompt = false
[push]
  default = current
[credential]
  helper = osxkeychain
[github]
  user = soffes
[ghi]
  token = "!(security find-internet-password -a $YOUR_USERNAME -s github.com -l 'ghi token' -g 3>&2 2>&1 1>&3) 2>/dev/null | cut -d'\"' -f2"
