"*":
  "autocomplete-plus":
    fileBlacklist: [
      "*.md"
    ]
  core:
    disabledPackages: [
      "wrap-guide"
      "background-tips"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-mustache"
      "language-perl"
      "language-rust-bundled"
      "language-toml"
      "language-typescript"
      "styleguide"
      "welcome"
    ]
    projectHome: "/Users/soffes/Code"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "exception-reporting":
    userId: "2255d794-cb87-421f-a3d7-9b6fab9c8ad0"
  "highlight-line":
    enableBackgroundColor: false
  "tree-view":
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
